* {
	font-family: Arial, Helvetica, sans-serif;
}

.page {
	width: 793px;
	min-height: 1190px;
}

p {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	line-height: 29px;
}

.slo p {
	font-size: 15px;
}

.font-weight-700 {
	font-weight: 700 !important;
}

.info p {
	font-size: 17px;
}

@page {
	size: A4 portrait;
	margin-left: 2cm;
	margin-top: 2cm;
	margin-right: 2cm;
	margin-bottom: 2cm;
}