td, th {
  vertical-align: middle;
  text-align: center;
}

tr {
  background-color: #F5F8FB !important;
}

::placeholder {
  color: #d2dee4 !important;
}

label, input[type="checkbox"] {
  cursor: pointer;
}

.is-invalid {
  color: #fa5252;
  margin-bottom: 0px;
}

.student-statistic-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.student .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.student .nav-item .nav-link .badge {
  background-color: #F8BD7A;
}

.icon-shape-red {
  color: #c0392b;
  background-color: rgba(250, 177, 160,1.0);
}

.title-search {
  font-size: 40px;
  font-weight: bold;
}

.alert-success {
  color: #5A5873;
  border: none;
  background-color: #C3E6CB !important;
}

.alert-danger {
  color: #5A5873;
  border: none;
  background-color: #F8D7DA !important;
}

.alert-warning {
  color: #5A5873;
  border: none;
  background-color: #FFF3CD !important;
}

.active-nav {
  background-color: #2E3650;
  border-radius: 7px;
}

.thead-river tr {
  color: #7e7ee2 !important;
}

.formTable .dataTables_length, 
.formTable .dataTables_filter {
  display: none !important;
}