.bannerHeader {
  background-color: #285A84;
  padding: 80px 0;
   margin: 80px 0;
}
.intro_about,
.intro_us {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
}
.intro_content {
  display: flex;
}
.intro_content p {
  color: #fff;
  margin-bottom: 5px;
}
.intro_desc {
  margin-left: 10px;
}
.authour {
  margin-top: 15px;
}
.authour img {
  float: left;
  margin-right: 25px;
}
.authour .text h2 {
  color: #fff;
  line-height: 26px;
  font-size: 20px;
  margin-bottom: 5px;
}
.about-us-area .right-info-box {
  border: 2px solid #f4f4f4;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}
.about-us-area .right-info-box .top {
  overflow: hidden;
  padding-left: 50px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 20px;
}
.about-us-area .right-info-box .top .iocn-holder {
  position: absolute;
  top: 3px;
  left: 0;
}
.about-us-area .right-info-box .top .iocn-holder i {
  font-size: 30px;
  color: #285A84;
}
.about-us-area .right-info-box .top .text-holder .h3 {
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px;
}
.about-us-area .right-info-box .middle {
  overflow: hidden;
  margin: 25px 0 10px;
}
.about-us-area .right-info-box .middle .h1 {
  color: #285A84;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 12px;
}
.about-us-area .right-info-box .middle p {
  margin: 0;
}
.about-us-area .right-info-box .bottom {
  overflow: hidden;
  margin-top: 20px;
}
.about-us-area .right-info-box .bottom .h4 {
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 11px;
}
.about-us-area .right-info-box .bottom ul {
  list-style: none;
  padding-left: 0;
}
.about-us-area .right-info-box .bottom ul li {
  line-height: 30px;
  font-size: 16px;
}
.about-us-area .right-info-box .bottom ul li span {
  color: #285A84;
  font-weight: 700;
}
.we_intro {
  background-color: #e7f2fd;
  padding: 20px;
  margin-top: -120px;
  border-radius: 10px;
}
.title_xanh {
  color: #285A84;
  font-size: 18px;
  font-weight: 600;
}
.title_about_intro {
  color: #285A84;
  font-size: 35px;
  font-weight: 600;
}
.underline_blue_center {
  width: 10%;
}
.img_about img {
  height: 700px;
  width: 80%;
  object-fit: cover;
  border-radius: 10px;
}
.img_brs {
  border-radius: 10px;
}
.div_button a {
  color: #13287e;
  background-color: #fff323;
  border-radius: 20px;
  padding: 7px 15px;
  font-weight: 600;
  font-size: 14px;
}
.div_button a i {
  font-size: 17px;
}
@media (max-width: 420px) {
  .img_about img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
.pxp-agents-1-item {
  display: block;
  position: relative;
  height: 300px;
  margin-bottom: 80px;
}
.pxp-agents-1-item-fig-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 8px;
}
.pxp-agents-1-item-fig {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  border-radius: 8px;
  transition: all 1s ease-in-out;
}
.pxp-agents-1-item:hover .pxp-agents-1-item-fig {
  transform: scale(1.06, 1.06);
  border-radius: 8px;
}
.pxp-agents-1-item-details {
  background-color: #fff;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  padding: 20px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 10%);
  transform: translateY(50%);
  border-radius: 8px;
  text-align: center;
}
.pxp-agents-1-item-details-name {
  color: #333;
  font-weight: 600;
  line-height: 1.3;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
