@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.row,
.container {
  max-width: 1250px;
}
@media (max-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
p {
  color: #6c6d6f;
}
a {
  text-decoration: none;
}
