.bannerHeader h2 {
  color: #fff;
  z-index: 2;
  font-weight: 600;
  position: relative;
  margin: 20px 0;
}
.bannerHeader h3 {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs a {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs {
  color: #fff;
}

.my-container {
  position: relative;
  background: #285A84;
  overflow: hidden;
  text-align: center;
  padding: 47px 0;
}

.my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.3;
}
.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -7px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 6%;
  background: white;
}
.news_updates_inner {
  position: relative;
  margin-bottom: 60px;
  background: #fff;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-radius: 8px;
  border: 1px solid #fff;
}
.news_updates_inner .image_inner {
  position: relative;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.news_updates_inner .image_inner .image_before {
  position: relative;
  margin: 10px;
  overflow: hidden;
}
.news_updates_inner .image_inner .image_before::before {
  position: absolute;
  content: "";
  left: 0;
  top: 100%;
  border-radius: 8px;
  background: rgba(45, 114, 187, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 8;
}
.news_updates_inner .image_inner img {
  border-radius: 8px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.news_updates_inner .date {
  position: absolute;
  top: -31px;
  left: 18px;
}
.news_updates_inner .date span {
  position: relative;
  display: block;
  background: #fff;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 5px 10px 0px;
  color: #285A84;
  font-weight: 700;
  text-align: center;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 0px solid #e8e8e8;
}
.news_updates_inner .content {
  position: relative;
  padding: 20px;
  overflow: hidden;
}
.news_updates_inner .content ul {
  position: relative;
  margin-bottom: 20px;
  padding-left: 0;
}
.news_updates_inner .content ul li {
  display: inline-block;
  margin-right: 30px;
  color: #808080;
  font-size: 16px;
  line-height: 26px;
}
.news_updates_inner .content ul li span {
  margin-right: 10px;
  color: #bababa;
}
.news_updates_inner .content h2 {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;
}
.news_updates_inner .content h2 a {
  color: #1e2452;
}
.news_updates_inner .content .continue {
  width: 100%;
  padding: 10px 0 0;
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-size: 16px;
  color: #285A84;
  font-weight: 700;
}
.news_updates_inner:hover {
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 9%);
  border: 1px solid #e8e8e8;
}

.news_and_updates .heading .border_line {
  background: #fccc00;
  width: 141px;
  height: 3px;
  position: relative;
}
.service_orther {
  background-color: #e7f2fd;
  border-radius: 10px;
  padding: 15px;
}
.title_procedure {
  text-transform: uppercase;
  font-size: 18px;
  color: #285A84;
  font-weight: 700;
  margin-bottom: 15px;
}
.underline_blue {
  height: 2px;
  margin: 15px 0;
  width: 15%;
  background: #285A84;
}
.service_orther .service_detail {
  display: flex;
  margin-bottom: 25px;
}
.service_orther .service_img {
  background-color: #285A84;
  border-radius: 4px;
  width: 98px;
  height: 73px;
  margin-right: 20px;
}
.service_orther .service_detail img {
  border-radius: 4px;
  width: 100px;
  height: 75px;
  object-fit: cover;
  margin-left: 7px;
  margin-top: 7px;
}
.service_orther .service_content {
  display: flex;
  align-items: center;
}
.service_orther .service_content a {
  color: #1e2452;
  font-size: 14px;
}
.list-small {
  margin-top: -5px;
}
.list-small .post {
  border-bottom: 1px solid #fff;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.list-small .post:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.news_updates_inner .content h2 a {
  color: #1e2452;
}
.list-small .image-link img {
    float: left;
    width: 100px;
    height: 62px;
    object-fit: cover;
    margin-right: 22px;
    display: block;
    border-radius: 10px;
}
.list-small .content {
  overflow: hidden;
}
.list-small .title-link {
  margin-top: -4px;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 36px;
}
.post-meta {
  margin-top: 6px;
  color: #a0a0a0;
  font-size: 10px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
}
.post-meta .post-cat > a {
  color: #397dc0;
  font-weight: 600;
}
.post-meta .meta-sep:before {
  content: "/";
  padding: 0 6px;
}
.contact_hotline {
  background-color: #285A84;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
}
.icon_box_hotline {
  display: flex;
  align-items: center;
}
.icon_box_hotline i {
  display: inline-block;
  line-height: 1.0625rem;
  margin: 8px 0px 4px 0px;
  text-align: center;
  vertical-align: middle;
  width: 35px;
  font-size: 35px;
  margin-right: 10px;
}
.contact_hotline .content_phone {
  font-size: 18px;
  font-weight: 600;
}
.contact_hotline .smal_content {
  font-size: 14px;
}
.contact_hotline .contact_site {
  background-image: url(../img/button-vang.png);
  height: 120px;
  top: 0;
  left: 0;
  background-size: 220px 112px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #13287e;
  font-weight: 600;
  font-size: 20px;
}
.contact_hotline .info_contact p {
  color: #fff;
  margin-bottom: 10px;
}
.text-color-2 {
  color: #285A84;
}
.tag-option a {
  border: 1px solid #eff0f3;
  padding: 6px 12px;
  color: #6f8ba4;
  font-size: 14px;
}
.list-inline-item {
  display: inline-block;
}
.blog-item-meta span {
  margin-right: 20px;
}
.blog-item-meta span i {
  margin-right: 5px;
  font-size: 17px;
}
.img-avater {
  border-radius: 10px;
}
