.bannerHeader h2 {
  color: #fff;
  z-index: 2;
  font-weight: 600;
  position: relative;
  margin: 20px 0;
}
.bannerHeader h3 {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs a {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs {
  color: #fff;
}

.my-container {
  position: relative;
  background: #5c97ff;
  overflow: hidden;
  text-align: center;
  padding: 47px 0;
}

.my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.3;
}
.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -7px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 6%;
  background: white;
}
.form_booking {
  box-shadow: 0 4px 4px #ccc;
  -webkit-box-shadow: 0 4px 4px #ccc;
  border-radius: 10px;
  padding: 15px 30px;
}
.form_booking .title {
  border-bottom: solid 1px #dedede;
  padding: 10px 40px 36px;
}
.form_booking .title h2 {
  font-weight: 200;
  font-size: 40px;
}
.form_booking .title h3 {
  font-weight: 100;
  font-size: 19px;
}
.title_form_booking {
  font-size: 18px;
  color: #285A84;
  margin-bottom: 10px;
  font-weight: 500;
}
/* forrm */
.form-select:focus {
  border-color: #ced4da;
  outline: none;
  box-shadow: none;
}
.form-control:focus {
  border-color: #ced4da;
  outline: none;
  box-shadow: none;
}
.form-control {
  padding: 0.575rem 2.25rem 0.575rem 0.75rem;
}
.form-select {
  padding: 0.575rem 2.25rem 0.575rem 0.75rem;
  color: #555;
}
.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 0em;
  margin-bottom: 0.125rem;
}
/* end */
.choose_extras {
  text-align: center;
  margin-bottom: 12px;
}
.choose_extras .img_extras {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 8px;
  height: 85px;
}
.choose_extras .img_extras:hover {
  border: 1px solid #285A84;
}
.choose_extras .img_extras img {
  width: 30%;
}
.choose_extras .title_extras {
  font-size: 14px;
  margin-top: 10px;
  color: #555555;
}
input[type="checkbox"]:checked + label .img_extras {
  border: 1px solid #285A84;
  background-color: #285A84;
}

#datepicker > span:hover {
  cursor: pointer;
}
.form-control-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #525f7f;
  margin-bottom: 10px;
}
.under_boder_bottom {
  border-bottom: solid 1px #dedede;
}
.use_service .form-check-label {
  width: 100%;
  border: solid 1px #dedede;
  text-align: center;
  border-radius: 4px;
  padding: 10px 0;
}

.use_service input[type="radio"]:checked + label {
  border: 1px solid #285A84;
  background-color: #285A84;
  color: #fff;
}
.submit_formbooking .contact_site {
  background-image: url(../img/button-vang.png);
  height: 103px;
  top: 0;
  left: 0;
  background-size: 201px 88px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #13287e;
  font-weight: 600;
  font-size: 15px;
}
.booking p {
  color: #797979;
}

@media (max-width: 768px) {
  .my-container {
    padding: 23px 0;
  }
  .imgIntro {
    margin-bottom: 50px;
  }
  .imgIntro_tablet {
    display: flex;
    justify-content: center;
  }
  .tusyou a {
    margin: 0 7px;
  }
  .tusyou_center {
    padding: 0px 19px;
  }
  .reasonsWhy {
    display: none;
  }
}
@media (max-width: 420px) {
  .imgIntro img {
    border-radius: 10px;
    width: 345px;
    height: 233px;
    object-fit: cover;
    margin-left: 16px;
    margin-top: 18px;
  }
  .imgIntro {
    background: #5c97ff;
    border-radius: 10px;
    width: 341px;
    height: 233px;
    margin-left: -17px;
  }
  .body_content_name {
    font-size: 22px;
  }
  .body_content_intro {
    font-size: 14px;
  }
  .highLight li {
    width: 100%;
  }
  .procedure li {
    width: 100%;
  }
  .div_why .heading-text {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .tusyou,
  .footer_end p {
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .bannerHeader h3 {
    font-size: 16px;
  }
  .bannerHeader h2 {
    font-size: 20px;
    margin: 11px 0;
  }
  .bannerHeader .breadcrumbs {
    font-size: 12px;
  }
  .my-container img {
    width: 186%;
  }
  .form_booking {
    padding: 15px 15px;
  }
}
