.bannerHeader h2 {
  color: #fff;
  z-index: 2;
  font-weight: 700;
  position: relative;
  margin: 20px 0;
  font-size: 40px;
  text-align: left;
}
.bannerHeader h3 {
  color: #fff;
  z-index: 2;
  position: relative;
  text-align: left;
}
.bannerHeader .breadcrumbs a {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs {
  color: #fff;
  text-align: left;
}

.my-container {
  position: relative;
  background: #285A84;
  overflow: hidden;
  text-align: center;
  padding: 80px 0;
}
.my-container .container p {
  text-align: left;
  z-index: 2;
  font-weight: 400;
  position: relative;
  margin: 20px 0;
}
.video-holder {
  color: #fff;
  z-index: 2;
  position: relative;
  padding-bottom: 30px;
}
.my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.3;
}
.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -7px;
  margin: 0;
  left: 0;
  right: 0;
  width: 6%;
  background: white;
}
.my-container .img-baner {
  position: relative;
  z-index: 2;
  opacity: 1;
}
.cus_button {
  text-align: left;
  z-index: 2;
  font-weight: 400;
  position: relative;
  margin: 20px 0;
}
.contact_site {
  background-image: url(../img/button-vang.png);
  height: 75px;
  top: 0;
  left: 0;
  background-size: 201px 88px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #13287e;
  font-weight: 600;
  font-size: 15px;
  width: 200px;
}
.widgettitle {
  font-size: 20px;
  font-weight: 600;
  color: #285A84;
}
.vav_mission {
  display: block;
}
.vav_mission li a {
  padding-left: 0;
  border-bottom: 1px solid #e4e4e4;
  color: #6c6d6f;
  padding-bottom: 10px;
}
.vav_mission li:last-child a {
  border-bottom: none;
}
.vav_mission li a.active {
  color: #285A84;
}
.vav_mission li a i {
  margin-right: 10px;
}
.headding_tabs {
  font-size: 20px;
  font-weight: 600;
  color: #285A84;
}
.reasonsWhy {
  background-image: url(../img/Pattern-for-cut_1x.png);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: auto;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding: 30px;
}
.reasonsWhy .reasonsWhy_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.reasonsWhy .avater_reason {
  border-radius: 10px;
  margin-bottom: 15px;
}
.reasonsWhy .reasonsWhy_content-heading-text strong {
  color: #285A84;
  font-size: 25px;
  margin: 10px 0;
}
.div_why {
  background: #e7f2fd;
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 20px;
}
.div_why .heading-text {
  font-size: 14px;
  margin-top: 10px;
}
.div_why .heading-text strong {
  color: #13287e;
}
.heading_title_mission {
  font-size: 20px;
  font-weight: 600;
  color: #285A84;
  margin-bottom: 10px;
}
.tab-container-one ul li {
  margin-bottom: 10px;
}
.title_about_intro {
  color: #285A84;
  font-size: 20px;
  font-weight: 600;
}
.pxp-agents-1-item {
  display: block;
  position: relative;
  height: 200px;
  margin-bottom: 80px;
}
.pxp-agents-1-item-fig-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 8px;
}
.pxp-agents-1-item-details {
  background-color: #285A84;
  position: absolute;
  color: #fff;
  left: 20px;
  right: 20px;
  bottom: 0;
  padding: 15px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 10%);
  transform: translateY(50%);
  border-radius: 8px;
  text-align: center;
}
.pxp-agents-1-item-fig {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  border-radius: 8px;
  transition: all 1s ease-in-out;
}
.pxp-agents-1-item-details-name {
  color: #fff;
  font-weight: 600;
  line-height: 1.3;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.forrm_submit {
  background-color: #285A84;
  padding: 50px 10px;
  border-radius: 10px;
  background-image: url(../img/buble_2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: scroll;
  background-size: contain;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.forrm_submit input {
  border-radius: 20px;
}
.forrm_submit .h3 {
  color: #fff;
  margin-bottom: 15px;
}
.forrm_submit .row {
  background-image: url(../img/buble_2x.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: contain;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.bi-reply-fill::before {
  content: "\f4f7";
  transform: rotate(179deg);
}

@media (max-width: 768px) {
  .request {
    padding: 9px 35px;
  }
  .forrm_submit .h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .my-container .container p {
    display: none;
  }
  .bannerHeader h2 {
    font-size: 30px;
  }
  .contact_site {
    height: 50px;
  }
  .my-container {
    position: relative;
    background: #285A84;
    overflow: hidden;
    text-align: center;
    padding: 52px 0;
  }
}
@media (max-width: 420px) {
  .pxp-agents-1-item {
    display: block;
    position: relative;
    height: 143px;
    margin-bottom: 80px;
  }
  .pxp-agents-1-item-details-name {
    font-size: 14px;
  }
  .pxp-agents-1-item-details {
    padding: 10px;
  }
}
