.bannerHeader h2 {
  color: #fff;
  z-index: 2;
  font-weight: 600;
  position: relative;
  margin: 20px 0;
}
.bannerHeader h3 {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs a {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs {
  color: #fff;
}

.my-container {
  position: relative;
  background: #285A84;
  overflow: hidden;
  text-align: center;
  padding: 47px 0;
}

.my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.3;
}
.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -7px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 6%;
  background: white;
}
.form-control {
  padding: 0.575rem 2.25rem 0.575rem 0.75rem;
}
.about-us-area .right-info-box {
  border: 2px solid #f4f4f4;
  background: #285A84;
  border-radius: 10px;
  padding: 30px;
}
.about-us-area .right-info-box .top {
  overflow: hidden;
  padding-left: 50px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 20px;
}
.about-us-area .right-info-box .top .iocn-holder {
  position: absolute;
  top: 3px;
  left: 0;
}
.about-us-area .right-info-box .top .iocn-holder i {
  font-size: 30px;
  color: #fff;
}
.text-holder span {
  color: #fff;
}
.about-us-area .right-info-box .top .text-holder .h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px;
}
.about-us-area .right-info-box .middle {
  overflow: hidden;
  margin: 25px 0 10px;
}
.about-us-area .right-info-box .middle .h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 12px;
}
.middle p {
  color: #fff;
}
.bottom ul li {
  color: #fff;
}
.about-us-area .right-info-box .bottom {
  overflow: hidden;
  margin-top: 20px;
}
.about-us-area .right-info-box .bottom .h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 11px;
}
.about-us-area .right-info-box .bottom ul li span {
  color: #fff;
  font-weight: 700;
}
.about-us-area .right-info-box .bottom ul {
  list-style: none;
  padding-left: 0;
}
.title_contact {
  font-size: 25px;
  font-weight: 600;
  color: #285A84;
  margin-bottom: 10px;
}
.contact {
  border: 2px solid #f4f4f4;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}

.suud_button {
  background-color: #285A84;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}
