.text-gradient.text-info {
  background-image: linear-gradient(310deg, #2152ff, #21d4fd);
}
.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
}
.text-info {
  color: #17c1e8 !important;
}
.blur.blur-rounded {
  border-radius: 40px;
}
.blur {
  box-shadow: inset 0px 0px 2px #fefefed1;
  -webkit-backdrop-filter: saturate(200%) blur(30px);
  backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(255, 255, 255) !important;
}
.card.card-plain {
  background-color: transparent;
  box-shadow: none;
}
.mt-8 {
  margin-top: 8rem !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
}
.font-weight-bolder {
  font-weight: 700 !important;
}
label,
.form-label {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #344767;
  margin-left: 0.25rem;
}
.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d2d6da;
  appearance: none;
  border-radius: 0.5rem;
  transition: box-shadow 0.15s ease, border-color 0.15s ease;
}
.card .card-footer {
  padding: 1.5rem;
  background-color: transparent;
  border-top: none;
}
.card-footer:last-child {
  border-radius: 0 0 1rem 1rem;
}
.btn-outline-light {
  color: #e9ecef;
  border-color: #e9ecef;
}

.btn.bg-gradient-info:hover {
  background-color: #17c1e8;
  border-color: #17c1e8;
}
.btn:hover:not(.btn-icon-only) {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 9%), 0 2px 3px -1px rgb(0 0 0 / 7%);
  transform: scale(1.02);
}

.btn.bg-gradient-info:hover {
  color: #fff;
}
.bg-gradient-info {
  background-image: linear-gradient(310deg, #2152ff 0%, #21d4fd 100%);
  color: #fff;
}
.text-sm {
  font-size: 0.875rem !important;
}
.text-gradient.text-info {
  background-image: linear-gradient(310deg, #2152ff, #21d4fd);
}
.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
}
.card.card-plain-custom {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  background: #fff;
}
.mt-lg-n10 {
  margin-top: -12rem !important;
}
.header-nav .nav-profile img {
  max-height: 36px;
}
.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  list-style: none;
}
.dropdown-header {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}
.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}
.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}
.header-nav .dropdown-header {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}
.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}
.header-nav .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}
.nav-profile {
  display: flex;
  align-items: center;
  border: none;
  background: #fff;
}
.dropdown-menu[data-bs-popper] {
  top: 122%;
  left: -32px;
  margin-top: 0.125rem;
  border-radius: 1.25rem;
  top: 127%;
  left: -34px;
  margin-top: 0.125rem;
}
.header-nav a {
  color: #344767;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;
}
.nav-profile {
  color: #13287e;
  font-size: 14px;
  font-weight: 600;
}
.header-nav .nav-item .nav-link:hover {
  background-color: #285A84;
  border-radius: 20px;
  color: #fff;
}
.header-nav .nav-item .nav-link i {
  display: inline-block;
  line-height: 1.0625rem;
  margin: -4px 4px 2px 3px;
  text-align: center;
  vertical-align: middle;
  width: 18px;
  font-size: 16px;
}
.dashboard_form {
  padding: 20px;
  background: #f3f4f4;
  border-radius: 10px;
}
.dashboard_form_title {
  font-size: 45px;
  color: #13287e;
}
.dashBoard {
  color: #344767;
  font-size: 0.875rem;
}
.dashboard_form .card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.1);
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
}

.dashboard_form .card h2 {
  margin: 0;
  padding: 4px 1rem;
  font-size: 20px;
  font-weight: 700;
  color: #285A84;
}

.dashboard_form .card .title {
  padding: 1rem;
  text-align: right;
  color: #13287e;
  font-weight: bold;
  font-size: 12px;
}

.dashboard_form .card .desc {
  padding-left: 1rem;
  font-size: 12px;
}

.dashboard_form .card .actions {
  padding: 0.5rem 1rem;
}

.dashboard_form .card svg {
  width: 40px;
  height: 60px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(310deg, #13287e 30%, #285A84 70%);
  top: 15px;
  left: 92px;
  text-align: center;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 1.5em 1em 1.5em 1em;
}

.img-avatar path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-position: bottom center;
  background-size: cover;
}
.portada_1 {
  background-image: url("../img/apartment-cleaning-hero-iamge_orig.jpg");
}
.portada_2 {
  background-image: url("../img/dichvuvesinh-chuyennghiep.jpg");
}
.actions .contact_site {
  background-image: url(../img/button-vang.png);
  height: 50px;
  top: 0;
  left: 0;
  background-size: 163px 73px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #13287e;
  font-weight: 600;
  font-size: 15px;
}
@media (max-width: 768px) {
  .img-avatar {
    left: 72px;
  }
  .dropdown-menu[data-bs-popper] {
    left: -157px;
    margin-top: 0.125rem;
  }
}
@media (max-width: 420px) {
  .mobile-menu {
    width: 100%;
  }
  .dashboard_form_title {
    font-size: 38px;
    color: #13287e;
  }
}
/* css news booking */
.user_booking {
  padding: 15px 30px;
}
.form-control-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #525f7f;
  margin-bottom: 10px;
}
.form-control-title {
  font-size: 15px;
  color: #525f7f;
  font-weight: 500;
}
.form-check-label-new {
  font-size: 14px;
  color: #717070;
  font-weight: 500;
}
.under_boder_bottom {
  border-bottom: solid 1px #dedede;
}
.title_form_booking {
  font-size: 18px;
  color: #285A84;
  margin-bottom: 10px;
  font-weight: 500;
}
.payment_booking {
  background-color: #e7f2fd;
  border-radius: 10px;
  padding: 10px 15px;
}
.contact_hotline .contact_site {
  background-image: url(../img/button-vang.png);
  height: 80px;
  top: 0;
  left: 0;
  background-size: 220px 102px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #13287e;
  font-weight: 600;
  font-size: 16px;
}
.sticky {
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 35%;
  height: 140px;
  color: #fff;
}
@media (max-width: 420px) {
  .user_booking {
    padding: 0;
  }
  .sticky {
    display: block;
  }
}
/* end */
/* lịch sử book */

.container_booking .rwd-table {
  min-width: 300px;
  width: 100%;
  border-collapse: collapse;
}

.container_booking .rwd-table tr:first-child {
  border-top: none;
  background: #285A84;
  color: #fff;
}

.container_booking .rwd-table tr {
  font-size: 14px;
}

.container_booking .rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.container_booking .rwd-table th {
  display: none;
}

.container_booking .rwd-table td {
  display: block;
}

.container_booking .rwd-table td:first-child {
  margin-top: 0.5em;
}

.container_booking .rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.container_booking .rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.container_booking .rwd-table th,
.container_booking .rwd-table td {
  text-align: left;
}

.container_booking .rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
}

.container_booking .rwd-table tr {
  border-color: #bfbfbf;
}

.container_booking .rwd-table th,
.container_booking .rwd-table td {
  padding: 0.5em 1em;
}
@media screen and (max-width: 601px) {
  .container_booking .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .container_booking .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .container_booking .rwd-table td:before {
    display: none;
  }
  .container_booking .rwd-table th,
  .container_booking .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .container_booking .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .container_booking .rwd-table th:last-child,
  .container_booking .rwd-table td:last-child {
    padding-right: 0;
  }
  .container_booking .rwd-table th,
  .container_booking .rwd-table td {
    padding: 1.5em 1em !important;
  }
}
.red_more_a {
  font-size: 14px;
  line-height: 16px;
  padding: 2px 0px;
  border-bottom: 2px solid #285A84;
  font-weight: 400;
  margin-bottom: 20px;
}
.page_history_title {
  color: #13287e;
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
}
/* THE END OF THE IMPORTANT STUFF */
/* chi tiet user */
.nav-tabs-bordered .nav-link.active {
  background-color: #f3f4f4;
  color: #4154f1;
  border: none;
  border-bottom: 2px solid #4154f1;
}
.nav-tabs-bordered .nav-link:hover {
  border: none;
  border-bottom: 2px solid #4154f1;
}
.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}
.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}
.profile .profile-overview .card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
}
.profile .profile-card h2 {
  font-size: 25px;
  font-weight: 600;
  color: #2c384e;
  margin: 10px 0 5px 0;
}
.profile .profile-card h3 {
  font-size: 16px;
}
.pagetitle {
  margin-bottom: 10px;
}
.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}
.profile .profile-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}
.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
  font-weight: 500;
}
.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}
.card_info {
  background: #f3f4f4;
  padding: 10px 15px;
  border-radius: 10px;
}
/* end */
.shop_card_desc .card {
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#2f2cd8),
    to(#8481f5)
  );
  background-image: linear-gradient(310deg, #13287e 0%, #285A84 70%);
  border-radius: 24px;
  -webkit-box-shadow: 0 36px 48px rgb(47 44 216 / 24%);
  box-shadow: 0 36px 48px rgb(47 44 216 / 24%);
}
.shop_card_desc .card .card-header {
  margin: 0 27px;
  padding: 33px 0;
  justify-content: flex-start;
  background: transparent;
  border-color: #6e6cde;
}
.shop_card_desc .card .card-body {
  padding: 36px 27px;
}
.shop_card_desc .card .card-footer {
  display: flex;
  margin: 0 27px;
  padding: 33px 0;
  border-color: #8280f7;
  background: transparent;
}
.shop_card_desc .card .card-header .icon {
  margin: 0 30px 0 0;
}
.icon.aws {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f5c56b),
    to(#ff8f2b)
  );
  background-image: linear-gradient(180deg, #f5c56b, #ff8f2b);
}
.icon {
  height: 96px;
  width: 96px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  padding: 20px;
  -webkit-box-shadow: 0 30px 40px rgb(0 0 0 / 4%);
  box-shadow: 0 30px 40px rgb(0 0 0 / 4%);
}
.shop_card_desc .card .card-header h4 {
  color: #fff;
  line-height: 36px;
}
.shop_card_desc .card .card-body h5 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}
.shop_card_desc .card .card-body p {
  color: #d0d0e6;
}
.shop_card_desc .card .card-footer .help,
.shop_card_desc .card .card-footer .website {
  width: 50%;
  display: inline-block;
  text-align: center;
}
.shop_card_desc .card .card-footer .help span,
.shop_card_desc .card .card-footer .website span {
  display: inline-block;
  margin-right: 22px;
}
.shop_card_desc .card .card-footer .help.help,
.shop_card_desc .card .card-footer .website.help {
  border-left: 1px solid #8280f7;
}
.shop_card_desc .card .card-footer .help span,
.shop_card_desc .card .card-footer .website span {
  display: inline-block;
  margin-right: 22px;
}
.shop_card_desc .card .card-footer .help p,
.shop_card_desc .card .card-footer .website p {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0;
}
.gift_value input[type="radio"]:checked + label {
  border: 1px solid #285A84;
  background-color: #285A84;
  color: #fff;
  padding: 7px 25px;
  border-radius: 200px;
}
.gift_value {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.gift_value label {
  border: 1px solid #285A84;
  padding: 7px 25px;
  border-radius: 200px;
  color: #285A84;
}
.gift_value .form-check {
  padding-left: 0;
}
.container_gift-card .gifttt {
  box-shadow: 0 36px 48px rgb(31 66 135 / 4%);
  border-radius: 24px;
  padding: 25px 20px;
}
.container_gift-card .gift_title {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #13287e;
}
.container_gift-card .payment_gift {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f5c56b),
    to(#ff8f2b)
  );
  background-image: linear-gradient(180deg, #f5c56b, #ff8f2b);
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}
.container_gift-card .payment_gift:hover {
  color: #fff;
}
.container_gift-card .btn-radius {
  border-radius: 50px;
  padding: 10px;
}
.container_gift-card .btn-radius .btn-close {
  padding: 15px;
  color: #084298;
}
.container_gift-card .card-billing {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.container_gift-card .text-xs {
  font-size: 0.9rem !important;
  font-weight: 300;
}
.container_gift-card .font-weight-bold {
  font-weight: 300 !important;
  color: #344767 !important;
}
.container_payment .text-xs {
  font-size: 0.9rem !important;
  font-weight: 300;
}
.container_payment {
  max-width: 1000px;
  margin: 30px auto;
  background-color: #e8eaf6;
  padding: 35px;
  border-radius: 20px;
}
.container_payment .box-right {
  padding: 30px 25px;
  background-color: white;
  border-radius: 15px;
}

.container_payment .box-left {
  padding: 20px 20px;
  background-color: white;
  border-radius: 15px;
}

.container_payment .bg-green {
  background-color: #d4f8f2;
  color: #06e67a;
  padding: 3px 0;
  display: inline;
  border-radius: 25px;
  font-size: 11px;
}
.container_payment .bg-red {
  color: #e60606;
  padding: 3px 0;
  display: inline;
  border-radius: 25px;
  font-size: 11px;
}

.container_payment .h7 {
  font-size: 15px;
}

.container_payment .h8 {
  font-size: 12px;
}

.container_payment .h9 {
  font-size: 10px;
}

.container_payment .bg-blue {
  background-color: #dfe9fc9c;
  border-radius: 5px;
}

@media (max-width: 320px) {
  .container_payment .h8 {
    font-size: 11px;
  }

  .container_payment .h7 {
    font-size: 13px;
  }
}
.history_gift_card .avatar-sm {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 0.75rem;
  height: 36px;
  width: 36px;
  transition: all 0.2s ease-in-out;
}
.history_gift_card .card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  z-index:-1;
}
.history_gift_card .table thead th {
  padding: 0.75rem 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0px;
  border-bottom: 1px solid #e9ecef;
}
.history_gift_card .bg-gradient-success {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}
.history_gift_card .bg-gradient-secondary {
  background-image: linear-gradient(310deg, #627594 0%, #a8b8d8 100%);
}
.history_gift_card .bg-gradient-cancel {
  background-image: linear-gradient(310deg, #dc3545 0%, #ff9ba5 100%);
}
.history_gift_card .text-xxs {
  font-size: 0.75rem !important;
}
.history_gift_card .text-secondary {
  color: #8392ab !important;
}
.history_gift_card .text-xs {
  font-size: 0.75rem !important;
}
.history_gift_card .table tbody tr:last-child td {
  border-width: 0;
}
.history_gift_card .table > :not(caption) > * > * {
  padding: 0.8rem 0.5rem;
  border-bottom-width: 1px;
}
.history_gift_card .font-weight-bold {
  font-weight: 600 !important;
}

.succes_gift {
  max-width: 1000px;
  margin: 30px auto;
  background-color: #e8eaf6;
  padding: 35px;
  border-radius: 20px;
}
.succes_gift .box {
  padding: 30px 25px;
  background-color: white;
  border-radius: 15px;
}
