.bannerHeader h2 {
  color: #fff;
  z-index: 2;
  font-weight: 600;
  position: relative;
  margin: 20px 0;
}
.bannerHeader h3 {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs a {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs {
  color: #fff;
}

.my-container {
  position: relative;
  background: #285A84;
  overflow: hidden;
  text-align: center;
  padding: 47px 0;
}

.my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.3;
}
.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -7px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 6%;
  background: white;
}
.underline_blue {
  height: 2px;
  margin: 15px 0;
  width: 15%;
  background: #285A84;
}
.imgIntro {
  background: #285A84;
  border-radius: 10px;
  width: 534px;
  height: 360px;
}
.imgIntro img {
  border-radius: 10px;
  width: 540px;
  height: 362px;
  object-fit: cover;
  margin-left: 27px;
  margin-top: 22px;
}
.body_content_intro {
  font-size: 16px;
  text-transform: uppercase;
  color: #285A84;
  font-weight: 500;
}
.body_content_name {
  font-size: 30px;
  color: #285A84;
  font-weight: 600;
}
.highLight {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.highLight li {
  width: 50%;
  margin-bottom: 10px;
  color: #285A84;
  font-weight: 600;
}
.highLight li i {
  color: #fff323;
  display: inline-block;
  line-height: 1.0625rem;
  margin: 0 10px 0 3px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  font-size: 18px;
}
.body_content_contact a {
  margin-right: 10px;
}
.body_content_contact i {
  display: inline-block;
  line-height: 1.0625rem;
  margin: 0 7px 4px 3px;
  text-align: center;
  vertical-align: middle;
  width: 18px;
  font-size: 16px;
}
.body_content_contact .contact {
  color: #13287e;
  background-color: #fff323;
  border-radius: 20px;
  padding: 9px 15px;
  font-weight: 600;
  font-size: 14px;
}
.body_content_contact .book {
  color: #fff;
  background-color: #285A84;
  border-radius: 20px;
  padding: 9px 15px;
  font-weight: 600;
  font-size: 14px;
}
.procedure .icon-box {
  display: flex;
  align-items: center;
}
.procedure ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.procedure li {
  width: 48%;
  margin-bottom: 20px;
}
.procedure .icon-box-text {
  margin-left: 10px;
}
.procedure .icon-box-text p {
  margin-bottom: 0;
  font-size: 14px;
}
.title_procedure {
  text-transform: uppercase;
  font-size: 18px;
  color: #285A84;
  font-weight: 700;
  margin-bottom: 15px;
}
.div_why {
  background: #e7f2fd;
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 20px;
}
.div_why .heading-text {
  font-size: 14px;
  margin-top: 10px;
}
.div_why .heading-text strong {
  color: #13287e;
}
.read-more__link-wrap {
  text-align: center;
  display: block;
}
.read-more__link {
  color: #fff;
  background-color: #285A84;
  border-radius: 20px;
  padding: 9px 15px;
  font-weight: 600;
  font-size: 14px;
}
.read-more__link:hover {
  color: #fff;
}
.read-more__link i {
  display: inline-block;
  line-height: 1.0625rem;
  margin: 0 0px 4px 0px;
  text-align: center;
  vertical-align: middle;
  width: 18px;
  font-size: 13px;
}
/* .read-more.js-read-more.content_highLight .read-more__link::before {
  width: 53%;
  content: " ";
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    #fff 100%,
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  left: 146px;
  margin-top: -102px;
  height: 80px;
} */
.contact_hotline {
  background-color: #285A84;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
}
.icon_box_hotline {
  display: flex;
  align-items: center;
}
.icon_box_hotline i {
  display: inline-block;
  line-height: 1.0625rem;
  margin: 8px 0px 4px 0px;
  text-align: center;
  vertical-align: middle;
  width: 35px;
  font-size: 35px;
  margin-right: 10px;
}
.contact_hotline .content_phone {
  font-size: 18px;
  font-weight: 600;
}
.contact_hotline .smal_content {
  font-size: 14px;
}
.contact_hotline .contact_site {
  background-image: url(../img/button-vang.png);
  height: 120px;
  top: 0;
  left: 0;
  background-size: 220px 112px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #13287e;
  font-weight: 600;
  font-size: 20px;
}
.contact_hotline .info_contact p {
  color: #fff;
  margin-bottom: 10px;
}
.service_orther {
  background-color: #e7f2fd;
  border-radius: 10px;
  padding: 15px;
}
.service_orther .service_img {
  background-color: #285A84;
  border-radius: 4px;
  width: 107px;
  height: 80px;
  margin-right: 20px;
}
.service_orther .service_detail img {
  border-radius: 4px;
  width: 112px;
  height: 80px;
  object-fit: cover;
  margin-left: 7px;
  margin-top: 7px;
}
.service_orther .service_detail {
  display: flex;
  margin-bottom: 25px;
}
.service_orther .service_content {
  display: flex;
  align-items: center;
}
.reasonsWhy {
  background-image: url(../img/Pattern-for-cut_1x.png);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: auto;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding: 30px;
}
.reasonsWhy .reasonsWhy_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.reasonsWhy .avater_reason {
  border-radius: 10px;
  margin-bottom: 15px;
}
.reasonsWhy .reasonsWhy_content-heading-text strong {
  color: #285A84;
  font-size: 25px;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .my-container {
    padding: 23px 0;
  }
  .imgIntro {
    margin-bottom: 50px;
  }
  .imgIntro_tablet {
    display: flex;
    justify-content: center;
  }

  .reasonsWhy {
    display: none;
  }
}
@media (max-width: 420px) {
  .imgIntro img {
    border-radius: 10px;
    width: 345px;
    height: 233px;
    object-fit: cover;
    margin-left: 16px;
    margin-top: 18px;
  }
  .imgIntro {
    background: #285A84;
    border-radius: 10px;
    width: 341px;
    height: 233px;
    margin-left: -17px;
  }
  .body_content_name {
    font-size: 22px;
  }
  .body_content_intro {
    font-size: 14px;
  }
  .highLight li {
    width: 100%;
  }
  .procedure li {
    width: 100%;
  }
  .div_why .heading-text {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .bannerHeader h3 {
    font-size: 16px;
  }
  .bannerHeader h2 {
    font-size: 20px;
    margin: 11px 0;
  }
  .bannerHeader .breadcrumbs {
    font-size: 12px;
  }
  .my-container img {
    width: 186%;
  }
}
