.header_top .header_top_title {
  font-size: 14px;
  color: #285A84;
  font-weight: 600;
}
.header_top .header_top_title i {
  margin-right: 5px;
  margin-top: -3px;
}
.header_top .social a {
  font-size: 14px;
  margin-left: 10px;
  color: #285A84;
}
a {
    color: #285A84;
   
}
.padding-top-head{
        padding-top: 115px !important;
}
.header_bottom .logo img {
  width: 195px;
  margin-right: 75px;
}
.header_bottom .menu_main li a {
  color: #285A84;
  padding: 0.3rem 1rem;
}
.header_bottom .menu_main li {
  margin: 0 5px;
  padding: 0px 10px;
}
.header_bottom .menu_main li.active {
  background-color: #285A84;
  border-radius: 20px;
}
.header_bottom .menu_main li.active a {
  color: #fff;
}
.header_bottom .menu_main li:hover {
  background-color: #285A84;
  border-radius: 20px;
}
.header_bottom .menu_main li:hover a {
  color: #fff;
}
.header_bottom .account a {
  color: #285A84;
  background-color: #fff323;
  border-radius: 20px;
  padding: 7px 15px;
  font-weight: 600;
  font-size: 14px;
}
.header_bottom .account a i {
  font-size: 17px;
}
/* css footer */
.header_bottom_fooer {
  padding-bottom: 30px;
  border-bottom: 1px solid #285A84;
  margin-bottom: 20px;
}
.request {
  color: #285A84;
  background-color: #fff323;
  border-radius: 20px;
  padding: 9px 60px;
  font-weight: 600;
  font-size: 14px;
}
.phone_footer {
  color: #285A84;
  font-size: 25px;
  font-weight: 700;
}
.fl-rich-text {
  font-size: 16px;
  font-weight: 300;
}
.map {
  font-size: 14px;
  line-height: 16px;
  padding: 2px 0px;
  border-bottom: 2px solid #285A84;
  font-weight: 600;
  margin-bottom: 20px;
}
footer .social a {
  font-size: 20px;
  margin-left: 10px;
  color: #285A84;
}
.footer_end {
  background-color: #285A84;
  color: #fff;
  padding: 10px 0;
}
.footer_end p,
.footer_end a {
  color: #fff;
  margin-bottom: 0;
  font-size: 14px;
}
.tusyou {
  text-align: left;
  justify-content: end;
  display: flex;
}
.tusyou a {
  margin: 0 10px;
}
.tusyou_center {
  border-left: 1px solid #b0b2c2;
  border-right: 1px solid #b0b2c2;
  padding: 0 30px;
}
.freshhouse-heading {
  text-align: center;
}
.freshhouse_top {
  font-size: 12px;
  background-color: #f4fbfd;
  color: #285A84;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.freshhouse_title {
  font-size: 25px;
  font-weight: 700;
  color: #285A84;
  margin-bottom: 10px;
}
.freshhouse_bottom {
  font-size: 16px;
  font-weight: 500;
  color: #285A84;
  margin-bottom: 10px;
}
.freshhouse_desc {
  font-size: 14px;
  color: #6c6d6f;
  margin-bottom: 10px;
}
.underline_blue_center {
  height: 2px;
  width: 25%;
  background: #285A84;
  margin: 8px auto;
}
.freshhouse-heading .contact_site {
  background-image: url(../img/button-vang.png);
  height: 75px;
  top: 0;
  left: 0;
  background-size: 201px 88px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #285A84;
  font-weight: 600;
  font-size: 15px;
}
.form-select {
  border-radius: 0.5rem;
  color: #495057;
}
.form-select:focus {
  border-color: #ced4da;
  outline: none;
  box-shadow: none;
}
.form-control:focus {
  border-color: #ced4da;
  outline: none;
  box-shadow: none;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #285A84;
}
.fone {
  font-size: 15px;
  color: #f00;

  font-weight: bold;

  margin: 0 0;
}
.ring {
  display: flex;
  align-items: center;
}
.wrapper {
  position: fixed;
  bottom: 15px;
  left: 18px;
  z-index: 999;
}
.coccoc-alo-ph-circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.1;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.coccoc-alo-phone {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility 0.5s;
  -moz-transition: visibility 0.5s;
  -o-transition: visibility 0.5s;
  transition: visibility 0.5s;
  right: 150px;
  top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
  background-color: #285A84;
  opacity: 0.75 !important;
}

.coccoc-alo-ph-circle-fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.1;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.coccoc-alo-ph-img-circle {
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  background: rgba(30, 30, 30, 0.1)
    url(https://freshhouse.vn/templates/client/assets/img/phone.png)
    no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: 0.7;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
  background-color: #285A84;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
  border-color: #285A84;
  opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
  border-color: #fff323;
  opacity: 0.5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
  background-color: #fff323;
  opacity: 0.75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
  background-color: #fff323;
}

@-moz-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@-o-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1;
  }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

.mobile {
  z-index: 1;
  margin: 0;
  width: 100%;
  border: 0 solid #333;
  height: 100%;
  overflow: hidden;
}
.contact_number{
    border: none;
    background: unset;
    width: 200px;
}
/* header {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  height: 50px;
} */
.mobile .logo img {
  width: 130px;
  margin-top: 9px;
}
/* menu button */
.menuBtn {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 34px;
  top: 57px;
  z-index: 101;
}
.menuBtn > span {
  background-color: #285A84;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -15px;
  transition: height 100ms;
}
.menuBtn > span:after,
.menuBtn > span:before {
  content: "";
  background-color: #285A84;
  border-radius: 1px;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  transition: all 200ms;
}
.menuBtn > span:after {
  top: -8px;
}
.menuBtn > span:before {
  bottom: -7px;
}
.menuBtn.act > span {
  height: 0;
}
.menuBtn.act > span:after,
.menuBtn.act > span:before {
  background-color: #285A84;
  top: 1px;
}
.menuBtn.act > span:after {
  transform: rotate(45deg);
}
.menuBtn.act > span:before {
  transform: rotate(-45deg);
}
/* main menu block */
.mainMenu {
  background-color: #fff;
  left: 0;
  top: 0;
  display: table;
  text-align: center;
  opacity: 0;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(0);
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.mainMenu.act {
  opacity: 1;
  transform: scale(1);
}
.mainMenu.act ul li {
  opacity: 1;
  transform: translateX(0);
}
.mainMenu ul {
  display: table-cell;
  vertical-align: middle;
}
.mainMenu li {
  padding: 8px 0;
  transition: all 400ms 510ms;
  opacity: 0;
}
.mainMenu li:nth-child(odd) {
  transform: translateX(30%);
}
.mainMenu li:nth-child(even) {
  transform: translateX(-30%);
}
.mainMenu li:last-child {
  transform: none;
}
.mainMenu .dropdown.account,
.mainMenu .contact_number {
  transition: all 400ms 510ms;
  transform: translateX(30%);
}
.contact_mobile {
  transition: all 400ms 510ms;
  transform: translateX(-30%);
}
.mainMenu.act .dropdown.account,
.mainMenu.act .contact_number {
  opacity: 1;
  transform: translateX(0);
}
.mainMenu.act .contact_mobile {
  transform: translateX(0);
}
.mainMenu a {
  color: #285A84;
  display: inline-block;
  font-size: 18px;
  margin: 0 5px;
  padding: 3px 20px;
}
.mainMenu a.active {
  background-color: #285A84;
  border-radius: 20px;
  color: #fff;
}

/* sign up button */
.suBtn {
  background-color: #285A84;
  border-radius: 5px;
  padding: 10px 20px;
}
.mobile {
  display: none;
}
.fl-rich-text-mobile p span {
  color: #285A84;
  font-size: 14px;
}
.contact_mobile {
  padding: 50px 0;
}
.mobile .account a {
  color: #285A84;
  background-color: #fff323;
  border-radius: 20px;
  padding: 7px 15px;
  font-weight: 600;
  font-size: 14px;
}
.mobile .account a i {
  font-size: 17px;
}
.mobile .contact_site {
  background-image: url(../img/button-vang.png);
  height: 74px;
  top: 0;
  left: 0;
  background-size: 231px 88px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #285A84;
  font-weight: 600;
  font-size: 15px;
  width: 200px;
}
.mainMenu .social-mobile a {
  color: #285A84;
  display: inline-block;
  font-size: 18px;
  margin: 0 5px;
  padding: 3px 5px;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
 background: #fff;
}
header.homepage{
   background: unset; 
}
.scrolling-active ,header.homepage.scrolling-active {
  background-color: #fff;
  box-shadow: 0 3px 1rem rgb(0 0 0 / 61%);
  background-image: none;
}
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
  .header_bottom {
    display: none !important;
  }
  .tusyou a {
    margin: 0 7px;
  }
  .tusyou_center {
    padding: 0px 19px;
  }
  header {
    padding: 0 !important;
  }
}
 .footermenu-fix {
     display:none;
 }
@media (max-width: 420px) {
    .footermenu-fix {
    display: block;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    min-width: 320px;
    background-color: #fff;
    z-index: 2;
    margin: 0 auto;
    box-shadow: 0 0 6px 1px #3e3e3e61;
}
.footermenu-wrap {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5,1fr);
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
}
.footermenu-wrap-item {
    text-align: center;
    position: relative;
}
.footermenu-wrap-item .footermenu-item, .footermenu-wrap-item .footermenu-itemlink {
    float: none;
    height: 100%;
}
.footermenu-itemlink span {
    display: block;
    font-size: 12px;
    height: 5px;
    line-height: initial;
    width: 100%;
    color: #717071;
}
.footermenu-svg {
    position: absolute;
    bottom: 66px;
    text-align: center;
    left: calc(50% - 35px);
    width: 70px;
    height: 6px;
}
.footermenu-item.color_white{
    z-index: 2;
    position: relative;
}
.footermenu-shadow {
    width: 70px;
    height: 70px!important;
    background: #285A84;
    color: #fff;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.7!important;
    letter-spacing: normal;
    border-radius: 50%;
    text-decoration: none;
    position: absolute;
    left: calc(50% - 35px);
    top: -10px;
    padding: 0!important;
}
.footermenu-item {
    padding: 5px;
    line-height: 26px;
}
.footermenu-wrap-item .footermenu-itemlink {
    display: block;
    font-size: 11px;
    line-height: .5;
}
  .tusyou,
  .footer_end p {
    text-align: center;
    justify-content: center;
    display: flex;
  }
  .wrapper,
  .social,
  .header_top_title {
    display: none !important;
  }
  .social-mobile {
    display: block;
  }
  .menuBtn {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 12px;
    top: 13px;
    z-index: 101;
  }
  .hero {
    height: 613px !important;
  }
  .hero .hero-fluid {
    padding-top: 234px !important;
  }
}
