.hero {
  background-image: url(../img/Home_Slider_Home02.jpg);
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  overflow: hidden;
  will-change: transform, opacity, filter;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  z-index: 0;
  height: 835px;
  background-position-y: -120px;
}
.hero .hero-fluid {
  background-image: url(https://clany.vamtam.com/wp-content/uploads/2018/07/Girl-at-sofa-02.png);
  padding-top: 280px;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  overflow: hidden;
  will-change: transform, opacity, filter;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  z-index: 0;
  background-position: 60% 30%;
}
.home_freshhouse-heading {
  background-image: url(../img/Bubble-background-1.svg);
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  padding: 43px 51px 40px 97px;
  margin-top: -80px;
  /* animation: 2s slide-left; */

  /* animation: slide-left 2s normal ease-out; */
  /* animation: slide-left 2s normal ease-out; */
}
.hero .home_freshhouse-heading .freshhouse_desc {
  margin-bottom: 30px;
}
.hero .hero-bottom {
  margin-top: 193px;
}
.hero-bottom img {
  width: 100%;
  height: 110px;
  object-fit: cover;
}
.hero .home_freshhouse-heading .freshhouse_title {
  font-size: 35px;
}
.hero .home_freshhouse-heading .freshhouse_bottom {
  font-size: 23px;
  font-weight: 400;
}
.home_freshhouse-hand {
  display: block;
  justify-content: center;
  position: absolute;
  text-align: center;
  margin-left: -154px;
  margin-top: -92px;
}
.home_freshhouse-hand img {
  width: 180px;
}
.home_freshhouse-hand {
  -webkit-animation: floatBubble 1s normal ease-out;
  animation: floatBubble 1s normal ease-out;
}
/*.home_freshhouse-heading {*/
/*  animation-duration: 4s;*/
/*  animation-name: slidein;*/
/*}*/
.hero .contact_site {
  animation: zoom-in-zoom-out 2s ease-out infinite;
}
.carousel-item {
 animation: fadeInRight 1s ease-in-out;
}
@keyframes floatBubble {
  0% {
    top: 500px;
  }
  100% {
    top: 0px;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}
/***** Slide Left *****/

@keyframes slidein {
  from {
    margin-left: 120%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.welcome_section {
  position: relative;
  padding: 80px 0px 80px;
}
.welcome_left .image_inner {
  margin-right: 25px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.welcome_section .wel_content_left {
  width: 389px;
  height: 250px;
  background: #285A84;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  bottom: 145px;
  margin-left: 181px;
}
.welcome_section .wel_content_left h2 {
  font-weight: 600;
  color: #fff;
  line-height: 33px;
  font-size: 24px;
  margin-bottom: 30px;
  transition: all 0.6s ease;
}
.welcome_section .video_holder_inner .icon {
  position: relative;
  float: left;
  margin-left: 10px;
  z-index: 0;
}
.welcome_section .video_holder_inner .icon::before {
  position: absolute;
  z-index: -10;
  content: "";
  width: 90px;
  height: 90px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  top: -10px;
  left: -10px;
}
.welcome_section .video_holder_inner .icon .flaticon-multimedia {
  font-size: 26px;
  line-height: 62px;
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 7%);
  border-radius: 50px;
  width: 70px;
  height: 70px;
  display: inline-block;
  color: #285A84;
  background: url(http://a.ourhtmldemo.com/cooltek/wp-content/themes/aircol/images/resources/welcome_video-icon_bg.jpg);
  text-align: center;
}
.flaticon-play-arrow i {
  font-size: 30px;
  color: #285A84;
}
.welcome_section .video_holder_inner .text {
  margin-left: 105px;
  padding-top: 20px;
  position: relative;
}
.welcome_section .video_holder_inner .text::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  background: #fff;
  top: 0;
  left: 0;
}
.welcome_section .video_holder_inner .text h6 {
  font-weight: 600;
  color: #fff;
  line-height: 26px;
  font-size: 18px;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.welcome_left:hover .image_inner::before {
  opacity: 1;
  width: 100%;
  height: 100%;
  bottom: 0px;
  right: 26px;
}
.heading h6 {
  font-weight: 600;
  color: #285A84;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.heading .border_line {
  background: #fccc00;
  width: 189px;
  height: 3px;
  position: relative;
}
.heading .border_line::before {
  position: absolute;
  height: 10px;
  width: 3px;
  background: #fccc00;
  content: "";
  top: -7px;
  left: 0;
}
.heading .border_line::after {
  position: absolute;
  height: 10px;
  width: 3px;
  background: #fccc00;
  content: "";
  top: -7px;
  right: 0;
}
.sub_heading {
  font-weight: 600;
  color: #285A84;
  line-height: 44px;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.welcome_right p.description {
  margin-bottom: 15px;
}
.welcome_right ul.first {
  float: left;
  position: relative;
  margin: 0px;
}
.welcome_right ul.second {
  position: relative;
  margin-left: 55%;
}
.welcome_right ul {
  padding-left: 0;
}
.welcome_right ul li {
  font-weight: 500;
  list-style: none;
  color: #285A84;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 10px;
}
.welcome_right ul li span {
  color: #fec727;
  margin-right: 10px;
}
.authour img {
  float: left;
  margin-right: 25px;
}
.authour .text h2 {
  color: #1e2452;
  line-height: 26px;
  font-size: 20px;
  margin-bottom: 5px;
}
.div_button a {
  color: #13287e;
  background-color: #fff323;
  border-radius: 20px;
  padding: 7px 15px;
  font-weight: 600;
  font-size: 14px;
}
.div_button a i {
  font-size: 17px;
}
.section_service .div_button a {
  color: #13287e;
  background-color: #fff323;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 14px;
}
.section_service .div_button a i {
  font-size: 14px;
}
.section_service .h-title {
  font-weight: 600;
  color: #285A84;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section_service .heading .border_line {
  margin: 0 auto;
  width: 171px;
}
.section_service {
  background-color: #e7f2fd;
  padding: 80px 0;
}
.service-content {
  background: #fff;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  -webkit-box-shadow: 0 8px 12px 0px #d3dbe33d;
  box-shadow: 0 8px 12px 0px #d3dbe33d;
  position: relative;
  margin-top: -60px;
  border-radius: 8px;
}
.service-thumb img {
    height: 245px;
    object-fit: cover;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
}

.service-content .service-title a {
  display: inline-block;
  font-size: 18px;
}
.service-desc {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
}
.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.about-list .single-item {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-bottom: 10px;
}
.about-list .single-item .icon {
  width: 20px;
  height: 20px;
  background: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 6px 12px 0px #d3dbe33d;
  box-shadow: 0 6px 12px 0px #d3dbe33d;
  margin-right: 10px;
}
.about-list .single-item span {
  font-size: 12px;
}
.div_button_contact a i {
  font-size: 14px;
}
.schedule_appointment {
  background: #e7f2fd;
  padding: 20px 20px 20px;
}
.appointment_inner {
  position: relative;
  padding: 50px 0px;
}
.appointment_inner .topic {
  position: absolute;
  transform: rotate(-90deg);
  top: 50%;
  left: -43%;
  background: #e7f2fd;
  width: 400px;
  height: 50px;
  text-align: center;
}
.appointment_inner .topic::before {
  position: absolute;
  content: "";
  height: 0px;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 25px solid #e7f2fd;
  border-bottom: 25px solid #e7f2fd;
  z-index: 0;
  right: -49px;
  top: 0px;
}
.appointment_inner .topic div {
  font-size: 24px;
  line-height: 30px;
  color: #285A84;
  padding-top: 20px;
}
.appointment_inner .topic::after {
  position: absolute;
  content: "";
  height: 0px;
  border-right: 25px solid #e7f2fd;
  border-top: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 25px solid #e7f2fd;
  z-index: 0;
  left: -49px;
  bottom: 0px;
}
.appointment_inner .form_inner {
  position: relative;
  margin-top: 35px;
}
.appointment_inner .form_inner input,
.appointment_inner .form_inner textarea {
  position: relative;
  line-height: 26px;
  color: #808080;
  min-height: 55px;
  font-size: 16px;
  width: 100%;
  background: #fff;
  padding: 10px 18px;
  border: 1px solid #fff;
  border-radius: 6px;
}
.wpcf7-submit {
  position: relative;
  line-height: 26px;
  min-height: 45px;
  font-size: 16px;
  width: 100%;
  background: #fff;
  padding: 10px 18px;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #13287e;
  background-color: #fff323;
  font-weight: 600;
  text-align: center;
}
.contact-info-list li {
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 13px;
  padding-bottom: 13px;
  padding-left: 35px;
  position: relative;
}
.contact-info-list li .icon-holder {
  position: absolute;
  top: 6px;
  left: 0;
}
.contact-info-list li .icon-holder i {
  color: #285A84;
}
.contact-info-list li .text-holder div {
  color: #949494;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.contact-info-list li .text-holder div span {
  text-transform: uppercase;
  font-weight: 600;
  color: #285A84;
  font-size: 15px;
}
.contact-info-list {
  list-style: none;
  padding-left: 0;
}
.testimonial_section {
  padding: 80px 0;
}
.testimonial_section .h-title {
  font-weight: 600;
  color: #285A84;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.testimonial_section .heading .border_line {
  background: #fccc00;
  width: 54px;
  height: 3px;
  position: relative;
}
.work_gallery {
  position: relative;
  padding: 80px 0px 80px;
}
.work_gallery .sme {
  padding-top: 53px;
}
.right_content {
  position: relative;
  padding-left: 100px;
}
.right_content p::before {
  position: absolute;
  content: "";
  background: #e0e0e0;
  height: 52px;
  width: 1px;
  left: 43px;
  bottom: -2px;
}
.work_gallery .our_services_inner {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
}
.our_services_inner::before {
  position: absolute;
  content: "";
  left: 100%;
  top: 0;
  background: rgba(45, 114, 187, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 10px;
  z-index: 8;
}
.work_gallery .our_services_inner .image {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.work_gallery .our_services_inner .image img {
  display: block;
  width: 100%;
  height: 300px;
  transition: transform 0.9s;
  -webkit-transition: transform 0.9s;
  -moz-transition: transform 0.9s;
  -ms-transition: transform 0.9s;
  -o-transition: transform 0.9s;
  object-fit: cover;
}
.over_content {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 17px 20px;
  background: #fff;
  width: 75%;
  border-radius: 8px;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.work_gallery .our_services_inner .title_img {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  transition: all 0.3s ease;
  margin-bottom: 0px;
  color: #1e2452;
}
.work_gallery .our_services_inner p {
  color: #2d72bb;
}
.sub_text {
  position: absolute;
  bottom: -30%;
  right: 46px;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 10;
}

.our_services_inner::after {
  position: absolute;
  content: "";
  left: 100%;
  top: 0;
  background: #ebf1f8;
  width: 50%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border-radius: 0 10px 10px 0;
  z-index: 9;
}
.our_services_inner:hover::before {
  opacity: 1;
  left: 0;
}
.our_services_inner:hover::after {
  opacity: 1;
  left: 50%;
}
.our_services_inner:hover .over_content {
  opacity: 1;
  top: 50%;
}
.work_gallery .heading .border_line {
  background: #fccc00;
  width: 72px;
  height: 3px;
  position: relative;
}

/*-----Testimonial-------*/

.name_customer {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
}
.address_customer {
  color: #000;
}
.testimonial4_slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial4_slide img {
  top: 0;
  left: 0;
  right: 0;
  width: 136px;
  height: 136px;
  margin: auto;
  display: block;
  color: #f2f2f2;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
  color: #000;
  font-size: 16px;
  line-height: 1.4;
  margin: 40px 0 20px 0;
}

.testimonial .carousel {
  padding-bottom: 50px;
}
.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
  width: 35px;
  height: 35px;
}
.carousel-indicators {
  color: #fff;
}
.testimonial .border_line {
  margin: 0 auto;
}
.testimonial .heading .h-title {
  font-weight: 600;
  color: #285A84;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* ------testimonial  close-------*/
.news_updates_inner {
  position: relative;
  background: #fff;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-radius: 8px;
  border: 1px solid #fff;
}
.news_updates_inner .image_inner {
  position: relative;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.news_updates_inner .image_inner .image_before {
  position: relative;
  margin: 10px;
  overflow: hidden;
}
.news_updates_inner .image_inner .image_before::before {
  position: absolute;
  content: "";
  left: 0;
  top: 100%;
  border-radius: 8px;
  background: rgba(45, 114, 187, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 8;
}
.news_updates_inner .image_inner img {
  border-radius: 8px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.news_updates_inner .date {
  position: absolute;
  top: -31px;
  left: 18px;
}
.news_updates_inner .date span {
  position: relative;
  display: block;
  background: #fff;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 5px 10px 0px;
  color: #285A84;
  font-weight: 700;
  text-align: center;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom: 0px solid #e8e8e8;
}
.news_updates_inner .content {
  position: relative;
  padding: 20px;
  overflow: hidden;
}
.news_updates_inner .content ul {
  position: relative;
  margin-bottom: 20px;
  padding-left: 0;
}
.news_updates_inner .content ul li {
  display: inline-block;
  margin-right: 30px;
  color: #808080;
  font-size: 16px;
  line-height: 26px;
}
.news_updates_inner .content ul li span {
  margin-right: 10px;
  color: #bababa;
}
.news_updates_inner .content h2 {
  font-size: 16px;
  line-height: 20px;
 
}
.news_updates_inner .content h2 a {
  color: #1e2452;
}
.news_updates_inner .content .continue {
  width: 100%;
  padding: 10px 0 0;
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-size: 16px;
  color: #285A84;
  font-weight: 700;
}
.news_updates_inner:hover {
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 9%);
  border: 1px solid #e8e8e8;
}
.news_updates_inner:hover .content .continue {
  opacity: 1;
  transform: translateY(0);
}
.news_and_updates .heading .border_line {
  background: #fccc00;
  width: 141px;
  height: 3px;
  position: relative;
}
@media (max-width: 768px) {
  .hero .hero-fluid {
    background-position: 70% -12%;
  }
  .welcome_section .wel_content_left {
    bottom: 501px;
  }
  .welcome_left {
    display: none;
  }
  .work_gallery .sme {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .work_gallery .our_services_inner .image img {
    height: 165px;
  }
}
@media (max-width: 420px) {
  .hero .home_freshhouse-heading .freshhouse_title {
    font-size: 18px;
  }
  .hero .home_freshhouse-heading .freshhouse_bottom {
    font-size: 15px;
    font-weight: 400;
  }
  .hero .home_freshhouse-heading .freshhouse_desc {
    display: none;
  }
  .home_freshhouse-heading {
    padding: 43px 34px 40px 65px;
  }
  .hero .hero-fluid {
    background-position: 42% -12%;
  }
  .hero-bottom {
    display: none;
  }
  .sub_heading {
    line-height: 34px;
    font-size: 26px;
  }
  .welcome_right ul.first {
    float: unset;
  }
  .welcome_right ul.second {
    margin-left: 0;
  }
  .appointment_inner .topic {
    display: none;
  }
  .appointment_inner {
    padding: 0;
  }
  .testimonial_section {
    padding: 15px 0;
  }
  .work_gallery {
    position: relative;
    padding: 15px 0px 15px;
  }
  .section_service {
    padding: 15px 0;
  }
  .welcome_section {
    position: relative;
    padding: 15px 0;
  }
}
