.bannerHeader h2 {
  color: #fff;
  z-index: 2;
  font-weight: 700;
  position: relative;
  margin: 20px 0;
  font-size: 40px;
}
.bannerHeader h3 {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs a {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs {
  color: #fff;
}

.my-container {
  position: relative;
  background: #285A84;
  overflow: hidden;
  text-align: left;
  padding: 80px 0;
}
.my-container .container p {
  color: #fff;
  z-index: 2;
  font-weight: 400;
  position: relative;
  text-align: left;
  margin: 20px 0;
}
.video-holder {
  color: #fff;
  z-index: 2;
  position: relative;
  padding-bottom: 30px;
}
.my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.3;
}
.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -7px;
  left: 0;
  right: 0;
  width: 6%;
  background: white;
}
.bannerHeader .contact_site {
  background-image: url(../img/button-vang.png);
  height: 75px;
  top: 0;
  left: 0;
  background-size: 201px 88px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #13287e;
  font-weight: 600;
  font-size: 15px;
  width: 200px;
}
.cus_button {
  text-align: left;
  z-index: 2;
  font-weight: 400;
  position: relative;
  margin: 20px 0;
}
.section_service .h-title {
  font-weight: 600;
  color: #285A84;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section_service .heading .border_line {
  margin: 0 auto;
  width: 171px;
  background: #fccc00;
  height: 3px;
  position: relative;
}
.sub_heading {
  font-weight: 600;
  color: #285A84;
  line-height: 44px;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.heading .border_line::before {
  position: absolute;
  height: 10px;
  width: 3px;
  background: #fccc00;
  content: "";
  top: -7px;
  left: 0;
}
.heading .border_line::after {
  position: absolute;
  height: 10px;
  width: 3px;
  background: #fccc00;
  content: "";
  top: -7px;
  right: 0;
}
.service-thumb img {
        height: 245px;
    object-fit: cover;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
}
.service-content {
  background: #fff;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  -webkit-box-shadow: 0 8px 12px 0px #d3dbe33d;
  box-shadow: 0 8px 12px 0px #d3dbe33d;
  position: relative;
  margin-top: -60px;
  border-radius: 8px;
}
.service-content .service-title a {
  display: inline-block;
  font-size: 18px;
}
.service-desc {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
}
.section_service .div_button a {
  color: #13287e;
  background-color: #fff323;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 12px;
}
.section_service {
  padding: 80px 0;
}
.div_why {
  background: #e7f2fd;
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 20px;
}
.div_why .heading-text {
  font-size: 14px;
  margin-top: 10px;
}
.div_why .heading-text strong {
  color: #13287e;
}
.reasonsWhy {
  background-image: url(../img/Pattern-for-cut_1x.png);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: auto;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding: 30px;
}
.reasonsWhy .reasonsWhy_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.reasonsWhy .avater_reason {
  border-radius: 10px;
  margin-bottom: 15px;
}
.reasonsWhy .reasonsWhy_content-heading-text strong {
  color: #285A84;
  font-size: 25px;
  margin: 10px 0;
}
.about-us-area .right-info-box {
  border: 2px solid #f4f4f4;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
}
.about-us-area .right-info-box .top {
  overflow: hidden;
  padding-left: 50px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 20px;
}
.about-us-area .right-info-box .middle {
  overflow: hidden;
  margin: 25px 0 10px;
}
.about-us-area .right-info-box .bottom {
  overflow: hidden;
  margin-top: 20px;
}
.about-us-area .right-info-box .top .iocn-holder {
  position: absolute;
  top: 3px;
  left: 0;
}
.about-us-area .right-info-box .top .iocn-holder i {
  font-size: 30px;
  color: #285A84;
}
.about-us-area .right-info-box .top .text-holder .h3 {
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px;
}
.about-us-area .right-info-box .middle .h1 {
  color: #285A84;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 12px;
}
.about-us-area .right-info-box .middle p {
  margin: 0;
}
.about-us-area .right-info-box .bottom .h4 {
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 11px;
}
.about-us-area .right-info-box .bottom ul {
  list-style: none;
  padding-left: 0;
}
.about-us-area .right-info-box .bottom ul li span {
  color: #285A84;
  font-weight: 700;
}
.freshHouse {
  background-color: #285A84;
  padding: 20px;
  border-radius: 10px;
}
.freshHouse_cons {
  display: flex;
  background: #fff;
}
.freshHouse_cons .img_fresh,
.freshHouse_cons .text_fresh {
  flex-basis: 50%;
}
.freshHouse_cons img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}
.freshHouse_cons .text_fresh {
  padding: 15px 10px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.about-list .single-item {
        color: #6c6d6f;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-bottom: 10px;
}
.about-list .single-item .icon {
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 6px 12px 0px #d3dbe33d;
  box-shadow: 0 6px 12px 0px #d3dbe33d;
  margin-right: 10px;
}
.about-list .single-item span {
  font-size: 14px;
}
.section_service .div_button-2 a {
  padding: 8px 10px;
  font-size: 14px;
}
.div_button-2 {
  margin-top: 15px;
}
.text_fresh_title {
  display: inline-block;
  font-size: 25px;
  color: #285A84;
  font-weight: 600;
}
@media (max-width: 768px) {
  .request {
    padding: 9px 35px;
  }
  .forrm_submit .h3 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .my-container .container p {
    display: none;
  }
  .bannerHeader h2 {
    font-size: 30px;
    text-align: left;
  }
  .bannerHeader .breadcrumbs {
    color: #fff;
    text-align: left;
  }
  .contact_site {
    height: 50px;
  }
  .my-container {
    position: relative;
    background: #285A84;
    overflow: hidden;
    text-align: center;
    padding: 52px 0;
  }
  .freshHouse_cons .img_fresh {
    display: none;
  }
  .freshHouse_cons .text_fresh {
    flex-basis: 100%;
  }
  .about-us-area {
    margin-top: 20px;
  }
}
@media (max-width: 420px) {
  .pxp-agents-1-item {
    display: block;
    position: relative;
    height: 143px;
    margin-bottom: 80px;
  }
  .pxp-agents-1-item-details-name {
    font-size: 14px;
  }
  .pxp-agents-1-item-details {
    padding: 10px;
  }
}
