.bannerHeader h2 {
  color: #fff;
  z-index: 2;
  font-weight: 700;
  position: relative;
  margin: 20px 0;
  font-size: 40px;
}
.bannerHeader h3 {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs a {
  color: #fff;
  z-index: 2;
  position: relative;
}
.bannerHeader .breadcrumbs {
  color: #fff;
}

.my-container {
  position: relative;
  background: #285A84;
  overflow: hidden;
  text-align: center;
  padding: 80px 0;
}
.my-container .container p {
  color: #fff;
  z-index: 2;
  font-weight: 400;
  position: relative;
  margin: 20px 0;
}
.video-holder {
  color: #fff;
  z-index: 2;
  position: relative;
  padding-bottom: 30px;
}
.my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.3;
}
.underline:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -7px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 6%;
  background: white;
}
.video_holder_inner .icon {
  position: relative;
  float: left;
  margin-left: 10px;
  z-index: 0;
}
.video_holder_inner .icon::before {
  position: absolute;
  z-index: -10;
  content: "";
  width: 90px;
  height: 90px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  top: -10px;
  left: -10px;
}
.video_holder_inner .icon .flaticon-multimedia {
  font-size: 26px;
  line-height: 70px;
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 7%);
  border-radius: 50px;
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: #fff;

  text-align: center;
}
.video_holder_inner .icon .flaticon-multimedia i {
  color: #285A84;
}
.video_holder_inner .text {
  margin-left: 105px;

  position: relative;
}

.video_holder_inner .text h6 {
  font-weight: 600;
  color: #fff;
  line-height: 26px;
  font-size: 18px;
  text-align: left;
}
.title_1 {
  font-size: 30px;
  font-weight: 600;
  color: #285A84;
}

.work_gallery {
  position: relative;
}
.work_gallery .sme {
  padding-top: 53px;
}
.right_content {
  position: relative;
  padding-left: 100px;
}
.right_content p::before {
  position: absolute;
  content: "";
  background: #e0e0e0;
  height: 52px;
  width: 1px;
  left: 43px;
  bottom: -2px;
}
.work_gallery .our_services_inner {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
}
.our_services_inner::before {
  position: absolute;
  content: "";
  left: 100%;
  top: 0;
  background: rgba(45, 114, 187, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 10px;
  z-index: 8;
}
.work_gallery .our_services_inner .image {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.work_gallery .our_services_inner .image img {
  display: block;
  width: 100%;
  height: 200px;
  transition: transform 0.9s;
  -webkit-transition: transform 0.9s;
  -moz-transition: transform 0.9s;
  -ms-transition: transform 0.9s;
  -o-transition: transform 0.9s;
  object-fit: cover;
}
.over_content {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 17px 20px;
  background: #fff;
  width: 75%;
  border-radius: 8px;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.work_gallery .our_services_inner .title_img {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  transition: all 0.3s ease;
  margin-bottom: 0px;
  color: #1e2452;
}
.work_gallery .our_services_inner p {
  color: #2d72bb;
}
.sub_text {
  position: absolute;
  bottom: -30%;
  right: 46px;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 10;
}

.our_services_inner::after {
  position: absolute;
  content: "";
  left: 100%;
  top: 0;
  background: #ebf1f8;
  width: 50%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border-radius: 0 10px 10px 0;
  z-index: 9;
}
.our_services_inner:hover::before {
  opacity: 1;
  left: 0;
}
.our_services_inner:hover::after {
  opacity: 1;
  left: 50%;
}
.our_services_inner:hover .over_content {
  opacity: 1;
  top: 50%;
}
.work_gallery .heading .border_line {
  background: #fccc00;
  width: 160px;
  height: 3px;
  position: relative;
}
.heading .border_line::before {
  position: absolute;
  height: 10px;
  width: 3px;
  background: #fccc00;
  content: "";
  top: -7px;
  left: 0;
}
.heading .border_line::after {
  position: absolute;
  height: 10px;
  width: 3px;
  background: #fccc00;
  content: "";
  top: -7px;
  right: 0;
}
.heading .h-title {
  font-weight: 600;
  color: #285A84;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.con_1 img {
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.td3 {
  color: #285A84;
  font-size: 25px;
  margin-bottom: 10px;
}
.con_1 {
  padding: 30px 0;
}
@media (max-width: 768px) {
  .bannerHeader h2 {
    margin: 10px 0;
    font-size: 30px;
  }
  .my-container {
    padding: 20px 0;
  }
  .my-container img {
    height: 363px;
  }
  .td3 {
    margin-top: 20px;
  }
  .img_order {
    order: 1;
  }
  .text_oder {
    order: 2;
  }
  .con_1 {
    padding: 10px 0;
  }
}
@media (max-width: 420px) {
  .title_1 {
    font-size: 24px;

    line-height: 1.2;
    margin-bottom: 10px;
  }
  .td3 {
    font-size: 20px;
  }
}
